<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Uvirtual de Universidad Dr. Jose Matias Delgado">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <header class="app-bar promote-layer">
    <div class="app-bar-container">
      <button class="menu"><%= link_to image_tag("hamburger.svg", alt: "Menu") %></button>
      <h1 class="logo"><%= full_title(yield(:title)) %></strong></h1>
      <section class="app-bar-actions">
      <!-- Put App Bar Buttons Here -->
      <!-- e.g <button><i class="icon icon-star"></i></button> -->
      </section>
    </div>
  </header>
  <nav class="navdrawer-container promote-layer">
    <ul>
      <li><%= link_to "Log in", "#" %></li>
      <li><%= link_to "Home", "#" %></li>
      <li><%= link_to "Help", "#" %></li>
      
    </ul>
  </nav>
  <main>
    <%= yield %>
  </main>
  
  
  


<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</body>
</html>
